
    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        background-image: url(./img/tablaAjederez.jpg);
        background-size: cover;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        height: 600px;
        justify-content: center;
    }

    .box1, .box2{
        display: flex;
        padding: 40px;
        justify-content: space-around;
       
    }

    .caja{
        width: 30%;
        background-color: rgba(255, 255, 255, 0.507);
        border-radius: 10px;

    }

    .caja p, 
    .caja h2{
        text-align: center;
        padding: 5px;
    }

    h1{
        text-align: center;
    }

   